<html>
<style>
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

</style>
<body>
<h1>Orders</h1>
        <table id = "customers">
        <tr>
                <th>Name</th>
                <th>last Name</th>
                <th>Address</th>
                <th>Notes</th>
                <th>Status</th>
        </tr>
        {% for xx in all_items %}
                <tr>
                    <td>
                        {{xx.fname}}
                    </td>
                    <td>
                        {{xx.lname}}
                    </td>
                    <td>
                        {{xx.addr}}
                    </td>
                    <td>
                        {{xx.notes}}
                    </td>
                    <td>
                        {{xx.status}}
                        <form action = "/deleteOrder/{{xx.id}}/" 
                        style="display:inline;"
                        method="post">{% csrf_token %}
                            <input type="submit" Value = "Delete"/>
                            </form>
                    </td>
                </tr>
            
        {% endfor %}
    </table>
</body>
</html>